<div class="product card">
  <% if product.image.present? %>
	<%= link_to (image_tag product.image, class: 'card-img-top'), product %>
  <% end %>
  <div class="card-block"> 
    <h4 class="card-title no-default-link-styles"> <%= link_to product.name, product %> </h4>
	  <p class="card-text"> <%= number_to_currency(product.price) %> </p>
      <p class="card-text"> <%= product.description %> </p>
	  <span class="card-text">
	    <% unless @current_cart.any? { |ci| ci["product_id"] ==  product.id} %>
	      <%= link_to 'Add item to cart', add_to_cart_product_path(product), method: :post %>
	    <% else %>
		  <%= link_to 'Remove item from cart', remove_item_from_cart_store_path(product), method: :post, class: 'remove-item-link' %>
          <span class="input-group product_cart_buttons">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="quant[1]"
			  onclick=<%= "remove_from_cart_product_path(#{product.id})" %>
			  >
                <span class="glyphicon glyphicon-minus"></span>
             </button>
            </span>
			<%= number_field_tag 'quantity',
			    session[:cart].select{|ci| ci['product_id'] ==  product.id}.first['number_of_items'],
				class: "form-control input-number product-#{product.id}", 
				:readonly => true%>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" data-type="plus" 
					data-field="quant[1]" 
					onclick=<%= "add_to_cart(#{product.id})" %>
			  >
                <span class="glyphicon glyphicon-plus"></span>
             </button>
            </span>
          </span>
	    <% end %>
	  </span>
  </div>
</div>