<h1>Please fill out this form to complete your purchase!</h1>
 <%= fields_for(:customer) do |u| %>
   <div class="field">
     <p class="input_paragraph"> First Name: <%= u.text_field :first_name, :value => "#{@first_name}" %> </p>
     <p class="input_paragraph"> Last Name: <%= u.text_field :last_name, :value => "#{@last_name}" %> </p>
	 <p class="input_paragraph"> Email: <%= u.text_field :email, :value => "#{@email}" %> </p>
	 <p class="input_paragraph"> Address: <%= u.text_field :home_address, :value => "#{@address}" %> </p>
	 <p class="input_paragraph"> City: <%= u.text_field :city, :value => "#{@city}" %> </p>
	 <p class="input_paragraph"> 
	   Province: 
	     <%= u.select :province_id, options_for_select(Province.all.map{|s|[s.name, s.id]}, selected: "#{@province}") %> 
	 </p>
   </div>
   <p id="errors"> </p>
   <div class="submission">
     <button onclick="submit_order()">Submit purchase</button>
   </div>
 <% end %>